* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("images/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}

/*characters -animation*/
#favContainer .card{
    transition: all 0.5s;
    background-color: black;
    min-width: 13rem;
    max-width: 18rem;
    box-shadow: 0 0 18px #eb2711;
  }

  #favContainer .card:hover{
    background-color: rgb(72, 71, 71);
    box-shadow: 0 0 18px rgb(72, 71, 71);
  }

/*responsive*/
@media screen and (max-width:1000px) {
    .content-center{
      text-align: -webkit-center;
    }
  }